.archive-layout-6{
	.condition-content-wrapper{
		.condition-title{
			margin: 0;
		}
		.condition-excerpt{
			padding: 20px 0;
			p{
				margin: 0;
			}
		}
		@media(max-width: 575px){
			padding-top: 20px;
			text-align: center;
		}
	}
	.conditions-layout-1{
		padding: 50px 0;
		.single-condition{
			&+.single-condition{
				padding-top: 70px;
			}
			.condition-img-wrapper{
				img{
					width: 100%;
					height: auto;
					border-radius: 5px;
				}
			}
			@media(max-width: 767px){
				&+.single-condition{
					padding-top: 40px;
				}
			}
		}
	}
	.conditions-layout-2{
        .col-sm-6 {
            @media screen and (min-width: 576px) and (max-width: 767px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        .condition-content-wrapper{
			padding: 0 20px 50px;
			position: relative;
            height: 100%;
            padding: 20px 20px 57px ; 
			@media(max-width: 767px){
				padding-left: 10px;
                padding-right: 10px;
                text-align: center;
			}
			@media(max-width: 575px){
				padding-left: 20px;
				padding-right: 20px;
            }
            
			.condition-link{
				position: absolute;
				left: 20px;
				bottom: 0;
				a{
					height: auto;
				}
				@media(max-width: 575px){
					right: 20px;
				}
			}
		}
		.single-condition{
			padding: 10px;
        }
        a.button-primary-outline {
            width: 93%; 
            position: absolute; 
            bottom: 15px; 
            left:3.5%;    
        }
    }
    
}