.single-post, .blog-posts-wrapper{
  .post-content{
    height: 100%;
    position: relative;
    padding-bottom: 46px;
    img{
      width: 100%;
    }
    .post-img{
      height: 385px;
      background-size: cover;
      width: 100%;
      max-height: 385px;
      background-position: center;
      background-repeat: no-repeat;
    }
    .grid-post-img{
      height: 240px;
      background-size: cover;
      width: 100%;
      max-height: 240px;
      background-position: center;
      background-repeat: no-repeat;
    }
    ul.post-meta{
      li{
        a{
          text-decoration: none;
          &.date {
            color: #9999;
          }
        }
        & + li{
          position: relative;
          margin-left: 16px;
          &:before{
            position: absolute;
            content: "";
            left: -13px;
            height: 12px;
            width: 1px;
            background: #999;
            z-index: 9;
            top: 50%;
            margin-top: -6px;
          }
        }
      }
    }
    .post-heading{
      a{
        text-decoration: none;
        color: #222;
      }
    }
    > .read-more{
      position: absolute;
      bottom: 20px;
      a{
        color: #cc1e49;
        text-transform:capitalize;
      }
    }
  }
  .post-sidebar{
    h4.widget-title{
      color: #222;
    }
    section + section{
      margin-top: 30px;
    }
  }
}

.archive-pagination{
  nav.navigation.pagination{
    margin-bottom: 60px;
    .nav-links{
      display: block;
      text-align: center;
      width: 100%;
      span{
        background: #cc1e49;
        border-radius: 5px;
        display: inline-block;
        color: #fff;
        padding: 4px 10px;
      }
      a{
        border-radius: 5px;
        display: inline-block;
        padding: 4px 10px;
        color: #666666;
        margin-left: 10px;
        text-decoration: none;
        &:hover{
          background: #f8f7f7;
        }
      }
    }
  }
}

.recent-posts{
  .recent-item{
    & + .recent-item{
      margin-top: 20px;
    }
    .recent-post-img{
      height: 65px;
      width: 100px;
      max-height: 65px;
      max-width: 100px;
      img{
        height: 65px;
        width: 100px;
        max-height: 65px;
        max-width: 100px;
      }
    }
    .content{
      min-width: 0;
      h5{
        color: #222222;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a{
          text-decoration: none;
          color: inherit;
        }
      }
      p{
        color: #999;
      }
    }
  }

}

.popular-categories-items{
  li{
    position: relative;
    margin-left: 20px;
    &:before{
      position: absolute;
      font-family: "Font Awesome 5 Free";
      content: "\f0da";
      left: -15px;
    }
    a{
      text-decoration: none;
      color: #666666;
    }
    & + li{
      margin-top: 7px;
    }
  }
}