.booking-now-form{
    background: #f7f7f7!important;
    padding: 25px !important;
    border-radius: 7px !important;
    input,textarea{
      border: none !important;
    }
    .wpforms-submit-container{
      button.wpforms-submit{
        display: block;
        text-align: center;
        width: 100%;
        border-radius: 30px;
        color: #fff !important;
        border: none;
      }
    }
  }

.request-appointment.full-width-container.full-width-columns.bg-right{
  .wp-block-column{
    &:first-child{
      margin-left: auto;
      margin-right: 0;
    }
    .ugb-container__wrapper{
      max-width: 575px;
    }
  }
  .booking-now-form{
    background: transparent !important;
    @media(min-width: 992px){
      div#wpforms-890-field_3-container, div#wpforms-890-field_6-container, div#wpforms-890-field_4-container, div#wpforms-890-field_5-container, div#wpforms-890-field_9-container, div#wpforms-890-field_7-container {
        display: inline-block;
        width: 48%;
      }
      .wpforms-field{
        label{
          color: #fff;
        }
        margin-bottom: 5px;
        &:nth-child(even){
          margin-left: 4%;
        }
      }
      .wpforms-submit-container {
        display: inline-block;
        right: 20px;
        position: absolute!important;
        bottom: 40px;
        button#wpforms-submit-890 {
          width: 140px;
          border: none;
        }
      }
    }
    .wpforms-field{
      &:last-child{
        margin-left: 0;
        color: #fff;
        label.wpforms-field-label-inline{
          color: #fff;
        }
      }
      input{
        border-radius: 5px;
        padding: 22px 10px;
        &::-webkit-input-placeholder {
        }
        &::-moz-placeholder{
        }
        &:-ms-input-placeholder {

        }
        &:-moz-placeholder {

        }
      }
      &.wpforms-field-textarea{
        textarea{
          border-radius: 5px;
          max-height: 120px;
        }
      }
    }
    button#wpforms-submit-890 {
      border: none;
    }
  }
  .wp-block-column{
    margin-bottom: 0;
  }
}
