.breadcrumbs-wrap {
	padding: 8px 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			&.crumb {
				padding: 0 1em;
			}
			a{
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.breadcrumb-layout-2{
	.container-fluid{
		padding-left: 4%;
		padding-right: 4%;
	}
	.breadcrumbs-wrap ul{
		text-align: center;
	}
}