footer.site-footer{
	background-color: #f9f9f9;
	.top-footer{
		position: relative;
		color: #fff;
		text-align: center;
		display: flex;
		align-items: center;
		min-height: 300px;
		.widget-title{
			margin: 0 0 15px;
			color: #fff;
		}
		.textwidget{
			p{
				color: #fff;
				margin: 0;
			}
		}
		&.layout-2{
			div.wpforms-container.newsletter-form form .wpforms-submit-container button[type=submit]{
				width: 145px;
			}
		}
		&.layout-3{
			div.wpforms-container.newsletter-form form{
				position: relative;
				max-width: 750px;
				margin: 0 auto;
				display: block;
				.wpforms-field-container .wpforms-field input[type=email]{
					width: 750px;
					padding-right: 150px;
				}
				.wpforms-submit-container{
					position: absolute;
					right: 5px;
					width: 135px;
					padding: 0;
					top: 15px;
				}
			}

		}
	}
	.main-footer{
		padding-top:50px;
		padding-bottom: 50px;
		.widget{
			.widget-title{
				color: #222222;
				margin-bottom: 25px;
				@media(max-width: $mobile) {
					margin-bottom: 10px;
				}
			}
		}
		.logo-wrap{
			img{
				margin-bottom: 25px;
				width: 205px;
				max-width: 205px;

			}
		}
		.tabby-social-links {
			li+li {
				margin-left: 0;
			}
		}

		@media(max-width: $mobile) {
			text-align: center;
			.container .row .col-12:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}
	.sub-footer{
		text-align: center;
		.container{
			padding-top: 25px;
			padding-bottom: 25px;
			border-top: 1px solid #ebebeb;
		}
		.widget,p{
			margin: 0;
		}
		p{
			color: #8c8f9e;
		}
	}
	ul.menu{
		margin: 0;
		padding: 0;
		li{
			list-style: none;
			display: block;
			color: #666;
			a{
				color: #666;
				&:hover{
					color: #cc1e49;
				}
			}
			&+li{
				margin-top: 7px;
			}
		}
	}
	p{
		margin-bottom: 10px;
		color: #666;
	}
	.footer-col-1{

	}
}

