div {
	ul{
		padding-left: 35px;
		margin-bottom: 15px;
	}
}
ul{
	li{
		margin-bottom: 0;
	}
	.sub-menu {
		padding-left: 0;
	}

	&.tabby-social-links, &.secondary-nav, &.sub-menu, &.post-meta, &.menu, &.view-more, &.view-more li ul {
		margin: 0;
		padding-left: 0;
	}
}

.tabby-social-links{
	li{
		display: inline-block;
		a{
			display: block;
			width: 20px;
			height: 20px;
			text-align: center;
			background: #fff;
			border-radius: 50%;
			color: #cc1e49;
		}
		&+li{
			margin-left: 10px;
		}
	}
}

.ugb-container{
	margin: 0;
	padding: 100px 10px;
}
.ugb-container .ugb-container__wrapper{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
.ugb-container.full-width-container{
	padding: 0;
	&.full-width-columns{
		.wp-block-columns{
			align-items: center;
		}
		&.bg-left{
			.wp-block-column{
				.ugb-container__wrapper{
					max-width: 500px;
					margin-left: auto;
					margin-right: 0;
					padding-right: 20px;
				}
				&:last-child{
					max-width: 500px;
					@media(max-width: 600px){
						padding: 20px 25px;
					}
				}
			}
		}
		&.bg-right{
			.wp-block-column{
				.ugb-container__wrapper{
					max-width: 500px;
					margin-left: 0;
					margin-right: auto;
					padding-left: 20px;
				}
				&:first-child{
					max-width: 500px;
				}
			}

		}
	}
}
.ugb-container.full-width-container .ugb-container__wrapper{
	max-width: 100%;
	padding: 0;
}
.ugb-container .ugb-container__content-wrapper>*{
	margin: 0 !important;
}
.section-title{
	color:#414d60;
	margin-bottom: 20px;
}
#hip-google-map-embed{
	width: 100%;
	height: 400px;
}
.wp-block-media-text>figure>img{
	border-radius: 5px;
}
.text-dark{
	color: #414d60;
}

ul.list-conditions{
	margin: 0 30px 25px;
	li{
		padding: 3px 0;
		position: relative;
		list-style: none;
		&:before {
			position: absolute;
			content: "";
			border-left: 7px solid #343a40;
			border-right: 7px solid transparent;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			top: 10px;
			left: -15px;
		}
	}
}
body{
	@media(max-width: 579px){
		.embed-container{
			max-width: 100%;
			iframe{
				max-width: 100%;
			}
		}
	}
}


.location-excerpt {
	height: 100%;
	padding-bottom: 87px;
	position: relative;

	#location-get-direction {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}