.hero-wrapper.ugb-container .ugb-container__wrapper .ugb-container__content-wrapper{
	max-width: 750px;
	margin: 0 auto;
	display: block;
	.hero-title{
		margin: 0 0 15px;
		color: #fff;
	}
	.hero-tagline{
		margin: 0;
		color: #fff;
	}
	.hero-buttons{
		padding-top: 40px;
		.wp-block-column{
			margin-bottom: 0;
			&:first-child{
				text-align: right;
				margin-right: 20px;
				@media(max-width: 767px){
					text-align:center !important;
					margin:0 !important;
				}
			}
			&:last-child{
				margin-left: 20px;
				@media(max-width: 767px){
					text-align:center !important;
					margin:0 !important;
				}
			}
		}

	}
}
.tabby-intro-block{
	img{
		border-radius: 5px;
	}
	.wp-block-media-text__content{
		padding-right: 0;
		h2{
			margin-bottom: 20px;
		}
		p{
			margin-bottom: 20px;
		}
		ul{
			li{
				margin-bottom: 15px;
			}
		}
	}
}
.tabby-video-block{
	.pps-video-wrap{
		max-height: 400px;
		*{
			max-height: 400px;
		}
		.pps-video-preview-wrap{
			height: 400px;
			padding-top: 0;
			border-radius: 5px;
			a{
				&:after{
					display: none;
				}
			}
		}
	}
}
.wp-block-media-text.about-block .wp-block-media-text__content{
	padding-left: 0;
}
.hip-review-single-wrapper .quote-icon span{
	background-color: #cc1e49;
}
.wp-block-hvc-video-block-video-from-collection.video-block{
	.pps-video-wrap{
		.pps-video-preview-wrap{
			a{
				span.push-btn{
					&:after{
						border-bottom: 15px solid transparent;
						content: "";
						position: absolute;
						border-top: 15px solid transparent;
						border-left: 25px solid #cc1e49;
						border-right: 15px solid transparent;
						left: 50%;
						margin-left: -9.5px;
						top: 50%;
						margin-top: -15px;
					}
					i{
						display: none;
					}
				}
			}
		}
	}
}
/** google map section **/
.google-maps-section{
	.ugb-container__wrapper{
		.ugb-container__content-wrapper {
			line-height: 0;
		}
	}
}