.guide-expain-list-section{
  ul{
    li{
      text-align: left;
      color: #fff;
    }
  }
}
.pain-condition-section{
  .wp-block-column {
    margin-bottom: 0;
  }
}
@media(max-width: $mobile){
    .get-ebook-section{
      display: block;
    }
}

