article.search-results {
    margin-top: 40px;
    border-left: 5px solid #ededed;
    padding: 20px;
    transition: .5s;

    header {
        font-style: italic;
    }

    &:hover {
        background-color: #ededed;
        transition: .5s;
    }
}

.navigation.posts-navigation {
    margin-top: 40px;
}

.container.search {
    padding: 40px 30px;
}