.archive-conditions{
	.condition-content-wrapper{
		.condition-title{
			margin: 0;
		}
		.condition-excerpt{
			padding: 20px 0;
			p{
				margin: 0;
			}
		}
		@media(max-width: 575px){
			padding-top: 20px;
			text-align: center;
		}
	}
	.conditions-layout-1{
		padding: 50px 0;
		.single-condition{
			&+.single-condition{
				padding-top: 70px;
			}
			.condition-img-wrapper{
				img{
					width: 100%;
					height: auto;
					border-radius: 5px;
				}
			}
			@media(max-width: 767px){
				&+.single-condition{
					padding-top: 40px;
				}
			}
		}
	}
	.conditions-layout-2{
		padding-top: 50px;
		.condition-content-wrapper{
			padding: 0 20px 50px;
			position: relative;
			height: 100%;
			@media(max-width: 767px){
				padding-left: 10px;
				padding-right: 10px;
			}
			@media(max-width: 575px){
				padding-left: 20px;
				padding-right: 20px;
			}
			.condition-link{
				position: absolute;
				left: 20px;
				bottom: 0;
				a{
					height: auto;
				}
				@media(max-width: 575px){
					right: 20px;
				}
			}
		}
		.single-condition{
			padding-bottom: 50px;
		}
	}
}